.btn-group {
  text-align: center;

  > .btn {
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.btn {
  display: inline-block;
  width: 195px;
  height: 182px;
  border-radius: 100%;
  background: $color-negative;
  text-decoration: none;
  padding-top: 13px;

  position: relative;

  &:hover {
    background: $color-affirmative;
    background: linear-gradient(to right, colour-btn-gradient-0 0%, $colour-btn-gradient-100 100%);
  }
}
