html {
  font-size: $font-size-base+px;
}

body {
  font-size: $font-size-body;
  font-family: $font-family;
  color: $colour-body;
}

h1 {
  font-size: $font-size-h1;
}

h1 {
  font-size: $font-size-h2;
}
