<div class="event">
  <h2>
    <small>How about every</small>
    <span class="emoji">&#128186;</span>
    <span class="rainbows"><%= @ordinal %> <%= @day %></span>
    <span class="emoji">&#127881;</span>
  </h2>

  <p class="scope-out-the-competition">There are 23 other meets on this day. <a href="#">See what they are</a></p>

  <div class="is-this-good btn-group">
    <%= link_to root_path, class: "btn btn-try-again" do %>
      <div class="emoji">&#128078;</div>
      Ugh&hellip;
    <% end %>
    <a href="#" class="btn btn-this-is-fine">
      <div class="emoji">&#128076;</div>
      Cool!
    </a>
  </div>

</div>
